<!-- HEADER -->

<uib-zone id="header">
  <ng-template uib-template="title" let-config>
    <h1>{{ config.title }}</h1>
  </ng-template>

  <ng-template uib-template="searchbar">
    <input
      type="text"
      [(ngModel)]="search"
      (ngModelChange)="searchPokemons()"
      placeholder="Search for a Pokemon..."
    />
  </ng-template>

  <ng-template uib-template="breadcrumbs">
    <div>
      <span *ngFor="let ability of selectedAbilities">
        {{ ability }}
      </span>
      <span *ngIf="selectedWeight">Weight &lt; {{ selectedWeight }}</span>
      <span *ngIf="selectedExperience">XP &lt; {{ selectedExperience }}</span>
    </div>
    <button
      *ngIf="
        search ||
        selectedAbilities.length ||
        selectedWeight ||
        selectedExperience
      "
      (click)="clear()"
    >
      Clear search criteria
    </button>
  </ng-template>
</uib-zone>


<hr />


<!-- ici le theme bootstrap n'est pas pris en compte -->
<!-- ici seuls les utilities de bootstrap sont reconnus -->
<button class="btn btn-primary m-6 px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">Click Me!</button>

<div class="d-flex">

  <!-- FILTERS -->

  <div style="padding: 2rem;">
    <h3>Filters</h3>
    <uib-zone id="filters" [enableContainers]="false">
      <ng-template uib-template="range" let-config>
        <strong>{{ config.field }}: {{ this[config.field] }}</strong>
        <input
          type="range"
          min="0"
          max="200"
          [(ngModel)]="this[config.field]"
          (ngModelChange)="searchPokemons()"
        />
      </ng-template>

      <ng-template uib-template="abilities">
        <strong>Abilities</strong>
        <ul>
          <ng-container *ngFor="let a of abilities">
              <li *ngIf="!selectedAbilities.includes(a)"><a href="#" (click)="selectAbility(a)">{{ a }}</a></li>
          </ng-container>
        </ul>
      </ng-template>
    </uib-zone>
  </div>


  <!-- RESULTS -->

  <uib-zone id="results" [data]="results$ | async" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start; gap: 2rem;">
    <ng-template uib-template="image" let-data="data">
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
          data.id
        }}.png"
        [title]="data.name"
      />
    </ng-template>

    <ng-template uib-template="description" let-data="data" let-config>
        {{data.description}}
    </ng-template>
    
    <ng-template uib-template="metadata" let-data="data" let-config>
      <strong *ngIf="!config.hideField">{{ config.field }}: </strong><span>{{ data[config.field] }}</span>
    </ng-template>
    
    <ng-template uib-template="metadata-badge" let-data="data" let-config>
      <strong *ngIf="!config.hideField">{{ config.field }}: </strong>
      <span *ngFor="let ability of data[config.field]">{{ ability }}</span>
    </ng-template>
  </uib-zone>

</div>

<!-- EDITOR -->

<div class="uib-bootstrap">
  <!-- bootstrap classes are now allowed here -->
  
  <uib-toolbar></uib-toolbar>

  <!-- CONFIGURATOR -->

  <uib-configurator>
    <ng-template uib-template="title" let-context>
      <div class="mb-3 pe-4">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" id="title"
          type="text"
          [(ngModel)]="context.config.title"
          (ngModelChange)="context.configChanged()"
        />
      </div>
    </ng-template>
    
    <ng-template uib-template="metadata" let-context>
      <div class="mb-3">
        <label for="metadata" class="form-label">Metadata</label>
        <select [(ngModel)]="context.config.field" id="metadata" class="form-select" (ngModelChange)="context.configChanged()">
          <option value="name">Name</option>
          <option value="weight">Weight</option>
          <option value="experience">Experience</option>
          <option value="abilities">Abilities</option>
        </select>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="hideField" [(ngModel)]="!!context.config.hideField" (ngModelChange)="context.configChanged()">
        <label class="form-check-label" for="hideField">Hide field</label>
      </div>
    </ng-template>

    <ng-template uib-template="container" let-context>
      <uib-code-editor
        [config]="context.config"
        [codeFactory]="codeFactory"
        [codeModules]="codeModules"
      ></uib-code-editor>
      <uib-palette [config]="context.config" [context]="context.context" [configurators]="context.configurators"></uib-palette>
    </ng-template>
  </uib-configurator>
</div>