.metadata {
    color: #212529;
    background-color: #e3e6e9;
    display: inline-block;
    padding: 0.25em 0.4em;
    margin-left: 0.25em;
    font-size: 85%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}