/* Add application styles & imports to this file! */
.d-flex {
  display: flex !important;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.flex-grow-1 {
  flex-grow: 1;
}

.red {
  color: red;
}

@import '../../lib/src/lib/configurable/configurable.styles';
